.container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}



.sidebar-container{
  margin-top: 20px;
  width: 100%;
  display: flex; 
  /* /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  color: rgb(111, 111, 111);
}

/* .sidebar-container> *{
  display: inline-block;
} */

.sidebar{
  background: white;
  border-radius: 15px;
  margin: 10px 0;
  padding: 20px;
  width: 140px;
  height: 87%;
  /* font-size: 1.2rem; */
  gap: 15px;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.571);
  transition: all ease 400ms;
}

.expanded{
  /* margin: 5px 0px; */
  height: 87%;
  width: 25%;
  transition: all ease 400ms;
  /* padding: 20px 2px; */
}

.profile-container{
  margin: 20px 0;
}

.profile{
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.profile>i{
  padding: 8px;
  background: blue;
  border-radius: 50%;
  color: white;
}

.options-container{
  width: 100%;
}

.options{
  cursor: pointer;
  padding: 20px 5px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  /* margin-left: 10rem; */
  justify-content:flex-start; 
}



/* .options>p{
  margin-left: 20px;
} */

.selected{
  padding: 15px 5px;
  /* margin: 5px 0; */
  background-color:rgb(211, 231, 247);
  color: blue;
  border-radius: 4px;
  font-weight: 500;
  
}

.wide{
  /* display: flex;
  align-items: center;
  cursor: pointer;*/
  padding: 15px 25px;
  position: relative;
  /* margin: 5px 0; */
  right: 1.2rem;
  /* padding: 10px 0; */
  /* gap: 10px; */
  background: blue;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  color: white;
  
  /* padding-left: 15px; */
}

.wide>p{
  /* margin-left:5px; */
}

.logout-container{
  cursor: pointer;
  margin-top: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* .expanded{
  transition: all ease 500ms;
} */